.container {
  width: 400px;
  height: 30px;
  border: solid 1px black;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  background-color: green;
  height: 100%;
  border-radius: 10px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 3s ease-in;
}

.fill.animate {
  transform: scaleX(1);
}
